<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
    <style>
    body#LoginForm{ background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}

      .form-heading { color:#fff; font-size:23px;}
      .panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
      .panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
      .login-form .form-control {
      background: #f7f7f7 none repeat scroll 0 0;
      border: 1px solid #d4d4d4;
      border-radius: 4px;
      font-size: 14px;
      height: 50px;
      line-height: 50px;
      }
      .main-div {
      background: #ffffff none repeat scroll 0 0;
      border-radius: 2px;
      margin: 10px auto 30px;
      max-width: 38%;
      padding: 50px 70px 70px 71px;
      }

      .login-form .form-group {
      margin-bottom:10px;
      }
      .login-form{ text-align:center;}
      .forgot a {
      color: #777777;
      font-size: 14px;
      text-decoration: underline;
      }
      .login-form  .btn.btn-primary {
      background: #f0ad4e none repeat scroll 0 0;
      border-color: #f0ad4e;
      color: #ffffff;
      font-size: 14px;
      width: 100%;
      height: 50px;
      line-height: 50px;
      padding: 0;
      }
      .forgot {
      text-align: left; margin-bottom:30px;
      }
      .botto-text {
      color: #ffffff;
      font-size: 14px;
      margin: auto;
      }
      .login-form .btn.btn-primary.reset {
      background: #ff9900 none repeat scroll 0 0;
      }
      .back { text-align: left; margin-top:10px;}
      .back a {color: #444444; font-size: 13px;text-decoration: none;}
    </style>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    function init() {
      let btn=document.getElementById("btnSubmit");

      btn.onclick = ()=>{
        let unm=document.getElementById("inputEmail").value;
        let pwd=document.getElementById("inputPassword").value;
        let params={unm,pwd};
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              console.log(this.responseText);
              let authRes=JSON.parse(this.responseText);
              if(authRes.logInSuccess)
                window.location.replace("http://localhost/adminHome");
              else if(authRes.userNotFound)
                alert("Invalid Username");
              else if(authRes.invalidPassword)
                alert("Invalid Password");
              else if (authRes.error)
                alert("Something went wrong.Try again!");
            }
        };

        //GET Method
        //xhttp.open("GET", "http://localhost/checkLogIn/"+unm+"/"+pwd, true);
        //xhttp.send();

        //POST Method
        xhttp.open('POST', 'http://localhost/checkLogIn');
        xhttp.setRequestHeader('Content-type', 'application/json');
        xhttp.send(JSON.stringify(params));
      }
    }
</script>

<body id="LoginForm" onload="init()">
  <div class="container">
    <h1 class="form-heading"><center>login Form</center></h1>
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
       <h2>Login</h2>
       <p>Please enter your user and password</p>
       </div>
          <form id="Login">
              <div class="form-group">
                  <input type="text" class="form-control" id="inputEmail" placeholder="Username">
              </div>

              <div class="form-group">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password">
              </div>
              <!-- <div class="forgot">
              <a href="reset.html">Forgot password?</a>
              </div> -->
              <button type="submit" class="btn btn-primary" id="btnSubmit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- <body onload="init()">
<table align="center" width="30%" cellpadding="5" cellspacing="5">
  <tr>
    <td colspan="2" align="center"><h2>Log In</h2></td>
  </tr>
  <tr>
      <td>Enter Username:</td>
      <td><input type="text" id="txtunm" required ></td>
  </tr>
  <tr>
      <td>Enter Password :</td>
      <td><input type="password" id="txtpwd" required></td>
  </tr>
  <tr>
      <td colspan="2" align="center"><input type="button" id="btnSubmit" value="Log In"></td>
  </tr>
</table>
  </body> -->
</html>
